
@media screen and (max-width: 600px){
.getintouch-overfall-container{

}
.contact-details-container{
width:max-content;
margin: auto;
padding:20px;
}
.overall-contact-list{
    display: flex;
    flex-direction: column;
gap:20px;
}
.contact-info{
display:flex;
flex-direction: row;
gap:15px
}
.contact-info li{
color:white;
text-align:center;
}
.contact-icon{
font-size: 45px;
}
.bottom-icons-container{
display: flex;
flex-direction: row;
width:max-content;
margin:auto;
gap:10px;
padding:20px;
}
.bottom-icons-container div{
width:45px;
height:45px;
}
.copyright-txt{
color: rgb(105, 102, 102);
}
}
@media screen and (min-width: 601px){
    /*tablet screens*/
    /* @media screen and (max-width: 1000px){
      
    }   */
     /*Desktop screens*/
     @media screen and (min-width:601px){
     }
     .getintouch-lg-screen{   /*not visible for large screens*/
        display:none;
     }
     .getintouch-lg-screen{      /*not visible for large screens*/
        display:none;
     }
     .bottom-links-render{
    display:none;                 /*not visible for large screens*/
     }
     .contact-div-render{          /*not visible for large screens*/
        display:none;
     }
     .copyright-txt{
        color: rgb(137, 131, 131);
        font-size: larger;
     }
    }
