@media screen and (max-width: 400px){

    .myworks-overall-container{
    width:100%;
    height: max-content;
    background-color: #020202;
    padding: 20px;
    }
    .work-holders{
        display: flex;
        flex-direction: column;
        gap:20px
    }.work-1,.work-2{
    width:90%;
    height: 210px;
    margin: auto;
    
    }
    .work-1{
    background-color: #F52261;
    position:relative;
    }
    .actual-work1-image,.actual-work2-image{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
    
    .work-2{
    background-color: #28161C;
    position:relative;
    }
    .actual-work2-image{
    
    }
    .hover-content{ /*not visible on small screens*/
    display:none;
    }
}
@media screen and (min-width: 401px){
    /*tablet screens*/
    @media screen and (max-width: 1000px){
        *{
            background-color: red;
        }
    }  
     /*Desktop screens*/
    @media screen and (min-width:1001px){
       .myworks-overall-container{
       }
       .work-heading{
   text-align: center;
   font-size: xx-large;
       }
       .work-holders{

       }
       .work-1{
        position:relative;
        width:600px;
        height: 400px;
        margin: auto;
       }
       .hover-content{
    position: absolute;
    z-index: +2;
    width:100%;
    height: 100%;
    background-color: #F52261;
    visibility: hidden;
       }
       .hover-container-content{
        width:400px;
        margin: auto;
        padding-top: 70px;
       }
       .work-1-about{
        font-size: large;
       }
       .work-1:hover{
            .hover-content{
             visibility: visible;
        }
       }
       .actual-work1-image{
      width:100%;
      height: 100%;
      object-fit: cover;
       }
    }
}