
@media screen and (max-width: 850px){

.overall-services-container{
width:100%;
height: max-content;
background-color: #020202;
padding: 20px;
}
.service-holders{
    display: flex;
    flex-direction: column;
    gap:20px
}
.service-1,.service-2{
width:90%;
height: 210px;
margin: auto;

}
.service-1{
background-color: rgb(113, 73, 73);
position:relative;
}
.webdev-icon,.ui-ux-icon{
width:50px;
height: 50px;
position: absolute;
top:0px;
margin:10px;
}
.webdev-text,.uiux-text{
margin-top: 60px;
}
.service-2{
background-color: #28161C;
position:relative;
}
}
@media screen and (min-width: 851px){
    /*tablet screens*/
    /* @media screen and (max-width: 1000px){
    
        
    }   */
     /*Desktop screens*/
    @media screen and (min-width:851px){
        .overall-services-container{
            width:100%;
            height: max-content;
            background-color: #020202;
            padding: 20px;
            }
            .service-holders{
                display: flex;
                flex-direction: row;
                gap:40px;
                width:80vw;
                margin:auto;
            }
            .service-1,.service-2{
            width:500px;
            height: 230px;
            margin: auto;
            
            }
            .service-1{
            background-color: rgb(113, 73, 73);
            position:relative;
            }
            .webdev-icon,.ui-ux-icon{
            width:60px;
            height: 60px;
            position: absolute;
            top:0px;
            margin:10px;
            }
            .webdev-text,.uiux-text{
            margin-top: 60px;
            }
            .web-dev-description,.uiux-descriprion{
            font-size: larger;
            }
            .service-2{
            background-color: #28161C;
            position:relative;
            }
    }
}